{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th>JSON</th><th>Completion</th><th>Delete</th>
        {% for todo in todos.items %}
            {% with anchor=true %}
                {% include 'todo_item.html' %}
            {% endwith %}
        {% endfor %}
        <tr>
            <form method="post" action="{{ url_for('todos_post') }}">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
            <td>
                {% if todos.has_prev %}
                    <form method="get" action="{{ url_for('change_page', page=todos.prev_num) }}">
                        <button type="submit" class="btn btn-xs btn-success">
                            <span class="glyphicon glyphicon-chevron-left" />
                        </button>
                    </form>
                {% else %}
                    <button class="btn btn-xs btn-success disabled">
                        <span class="glyphicon glyphicon-chevron-left" />
                    </button>
                {% endif %}
            </td>
            <td>
                {% if todos.has_next %}
                    <form method="get" action="{{ url_for('change_page', page=todos.next_num) }}">
                        <button type="submit" class="btn btn-xs btn-success">
                            <span class="glyphicon glyphicon-chevron-right" />
                        </button>
                    </form>
                {% else %}
                    <button class="btn btn-xs btn-success disabled">
                        <span class="glyphicon glyphicon-chevron-right" />
                    </button>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}