<tr>
    <td>{{ todo.id }}</td>
    <td>{{ todo.user_id }}</td>
    <td>
        {% if anchor %}
            <a href="{{ url_for('todo', id=todo.id) }}">
               {{ todo.description }}
            </a>
        {% else %}
           {{ todo.description }}
        {% endif %}
    </td>
    <td>
        <a href="{{ url_for('todo_json', id=todo.id) }}">
            <button class="btn btn-xs btn-light">
                <span class="glyphicon glyphicon-eye-open"
            </button>
        </a>
    </td>
    <td>
        <form method="post" action="{{ url_for('todo_toggle_completion', id=todo.id) }}">
            {% if todo.completed %}
                <button type="submit" class="btn btn-xs btn-success">
                    <span class="glyphicon glyphicon-ok" > NICELY DONE! </span>
                </button>
            {% else %}
                <button type="submit" class="btn btn-xs btn-warning">
                    <span class="glyphicon glyphicon-hand-up" > INCOMPLETE! </span>
                </button>
            {% endif%}
        </form>
    </td>
    <td>
        <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
            <button type="submit" class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-remove glyphicon-white" />
            </button>
        </form>
    </td>
</tr>
